
<h2>Login</h2>

<form name="form" role="form">

    <md-input-container>
        <label>User Name</label>
        <input type="text" ng-model="vm.userName" required autofocus />
    </md-input-container>

    <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="vm.password" required />
    </md-input-container>

    <md-checkbox ng-model="vm.persist" aria-label="Remember Me">
        Remember Me
    </md-checkbox>

    <md-button class="md-raised md-primary"
               ng-click="vm.login()" ng-disabled="form.$invalid">
        Login
    </md-button>

</form>
