
<h2>Projects</h2>

<md-button class="md-raised md-primary" ng-click="vm.add()">
    Add Project
</md-button>

<div layout="row" layout-align="start start" layout-wrap>
    <md-card ng-repeat="project in vm.projects" flex="30" style="height: 200px">
        <md-card-content layout="column" flex>
            <div layout="row" flex>
                <h3>{{ project.Name }}</h3>
            </div>
            <div layout="row" layout-align="end end">
                <md-button class="md-raised" ng-click="vm.edit(project.ProjectId)">
                    Edit
                </md-button>
            </div>
        </md-card-content>
    </md-card>
</div>
